
.g-main {
  font-family: Georgia, sans-serif;
  color: #aaaaaa;
  text-align: center;
  font-size: 30px;
  height: 100%;
  background: #f3f9f7;
  position: relative;

  .g-left {
    margin-right: 58%;
  }

  .g-right {
    position: absolute;
    width: 58%;
    top: 0;
    right: 0;
  }

  .m-buttons {
    z-index: 5;
    position: absolute;
    top: 50px;
    left: 2%;

    .m-button {
      width: 100px;
    }
  }
}
